<div class="progress-content-section">
  <div class="section-content  active" *ngIf="empresa === 'sesi'">
    <h2>Menor Aprendiz</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

  <div class="section-content " *ngIf="empresa === 'gazeta'">
    <h2>Call center</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

  <div class="section-content "*ngIf="empresa === 'tim'">
    <h2>Consultora de vendas</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

  <div class="section-content "*ngIf="empresa === 'saraiva'">
    <h2>Vendedora</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

  <div class="section-content " *ngIf="empresa === 'prefeitura'">
    <h2>Estagiária - Ciências contabeis</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

  <div class="section-content" *ngIf="empresa === 'atual'">
    <h2>Estagiária - Sistemas da informação</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce congue quam suscipit nibh bibendum convallis.
      Quisque tincidunt felis ac arcu euismod facilisis.
      Sed consequat velit a pharetra hendrerit. Fusce non urna metus.
      Ut tincidunt venenatis sapien sit amet porttitor.
      Donec porta lorem non feugiat vehicula. Morbi eget mattis mi,
      vitae elementum nunc.
    </p>
  </div>

</div>
