<div class="progress-content-section">
  <div class="section-content  active" *ngIf="empresa === 'sesi'">
    <h2>Menor Aprendiz</h2>
    <p>
      Esta foi minha primeira experiência profissional, com 17 anos apenas. Foi uma ótima oportunidade onde
      desenvolvi conhecimento com o atendimento ao público, organização de arquivos e rotina de escritório.
      Lá eu dava assistência ao SESI saúde, com o controle dos atendimentos admissionais, demissionais e periódicos,
      e ao SESI educação, com atendimento às pessoas que buscavam cursos gratúitos com certificados.
    </p>
  </div>

  <div class="section-content " *ngIf="empresa === 'gazeta'">
    <h2>Call center</h2>
    <p>
      Na Gazeta eu trabalhei como atendente de call center. Lá eu desempenhava funções ativas e passivas e
      aprendi a usar o PABX. Sendo atendentes para o jornal Gazeta, nós passavamos por vários setores para aprendermos
      todos os processos do jornal, desde a fabricação até a entrega do jornal. Além desse, ficamos no setor de vendas,
      e retenção durante semanas aprendendo mais a fundo tais setores. No atendimento ao cliente, faziamos pós venda,
      onde acompanhavamos o cliente até a sua satisfação com a entrega do jornal.
    </p>
  </div>

  <div class="section-content "*ngIf="empresa === 'tim'">
    <h2>Consultora de vendas</h2>
    <p>
      Na TIM, eu aprendi o atendimento ao público, vendas e pós venda cara a cara com o cliente. Abordagens
      diferentes com vendas de serviços atreladas ao produto. Na TIM passamos por vários treinamentos
      de vendas e de celulares e seus periféricos. Também eramos levados às outras operadoras afim de conhece-las
      e aprimoravamos as táticas de vendas em grupo.
    </p>
  </div>

  <div class="section-content "*ngIf="empresa === 'saraiva'">
    <h2>Vendedora</h2>
    <p>
      Na Saraiva aprendi muito de cultura, livros e estudos. Lá eramos instigados a ler, pois a Saraiva
      tinha um programa para seus funcionarios, onde a cada 15 dia eles podiam levar 2 livros emprestados para ler.
      Foi assim que redescobri meu amor à leitura, e o tornei de fato um hábito de vida. Lá desenvolvi o atendimento ao
      público, mas de uma forma mais pessoal, ao mostrar o prazer da leitura a quem o desconhece ou ao alimenta-lo a quem
      ja o possui. Com meu gosto pessoal à leitura, na Saraiva busquei ajudar outros setores, aprendendo então o estoque e
      SAC.
    </p>
  </div>

  <div class="section-content " *ngIf="empresa === 'prefeitura'">
    <h2>Estagiária - Ciências contabeis</h2>
    <p>
      Trabalhando como estagiária na prefeiruta, aprendi muito sobre a contabilidade no setor público.
      Voltei ao setor administrativo e rotina de escritório. Aprendi bastante sobre politica e trabalho,
      processos administrativos públicos. Lá eu tive um bom suporte para meus estudos, não apenas para o
      setor público. 
    </p>
  </div>

  <div class="section-content" *ngIf="empresa === 'atual'">
    <h2>Estagiária - Sistemas da informação</h2>
    <p>
      Em construção.
    </p>
  </div>

</div>
