
<div class="container-projetos">
  <div class="card-projetos">
    <div class="img-Projetos">
      <img src="../assets/projetos/dispositivoo.jpg" />
    </div>
    <div class="content-projetos">
      <h2>
        Angular Front/Back
      </h2>
      <p>
        Sistema em angular, usando banco de dados Json para gerenciamento de dispositivos
        instalados em veículo.
      </p>
      <a href="#"> Read More</a>
    </div>
  </div>
  <div class="card-projetos">
    <div class="img-Projetos" >
      <img src="../assets/projetos/diariodeleitura2.jpg" />
    </div>
    <div class="content-projetos">
      <h2>
        C# e MySQL
      </h2>
      <p>
        Sistema em desenvolvimento, para uso desktop servindo como um diário para o controle
        e compartilhamento das leituras e estudos de livros físicos e em formatos PDFs.
      </p>
      <a href="#"> Read More</a>
    </div>
  </div>
  <div class="card-projetos">
    <div class="img-Projetos">
      <img src="../assets/projetos/Imagem3.gif" />
    </div>
    <div class="content-projetos">
      <h2>
        Python
      </h2>
      <p>
        Em produção
      </p>
      <a href="#"> Read More</a>
    </div>
  </div>
</div>
