<section>
  <swiper [effect]="'coverflow'"
          [grabCursor]="true"
          [centeredSlides]="true"
          [slidesPerView]="'auto'"
          [coverflowEffect]="{
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true
    }"
      [pagination]="true"
      class="mySwiper">
      <ng-template swiperSlide>
        <img src="../assets/certificados/angular4.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/aprendizagemCognitiva01.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/aprendizagemCognitiva02.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/auditoria01.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/auditoria02.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/contabilidadeBasica01.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/contabilidadeBasica02.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/hackathonProdest.jpg" class="quote"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/certificados/sebraeNegociacao .jpg" class="quote"/>
      </ng-template>
  </swiper>
</section>
