
<div class="carrossel" >
  <swiper [slidesPerView]="1"
          [spaceBetween]="10"
          [navigation]="true"
          [pagination]="{ clickable: true }">
    <ng-template swiperSlide>
      <img src="../assets/certificados/angular4.jpg"  />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/aprendizagemCognitiva01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/aprendizagemCognitiva02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/auditoria01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/auditoria02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/contabilidadeBasica01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/contabilidadeBasica02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/hackathonProdest.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../assets/certificados/sebraeNegociacao .jpg" />
    </ng-template>
  </swiper>
</div>
