  //text-overflow: ellipsis, overflow: hidden para deixar o texto q nao cabe melhor, se adapta ao lugar q esta


.tudo {
  transition: background 0.2s linear;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.sai {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.checkbox{
    position:relative;
    opacity:0;

}
.checkbox:checked + .label .ball{
    transform: translateX(24px)
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  margin-top: 1em;
  height:26px;
  width:50px;
  margin-bottom:1em;
}
.label .ball{
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    top:2px;
    left:2px;
    height:22px;
    width:22px;
    transform:translateX(0);
    transition: transform 0.2s linear;
   
}

.container .nome {
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  position: relative;
  display: flex;
  margin-right: 1em;
  letter-spacing: 0.2em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  position: relative;
  display: flex;
  margin-bottom: 2%;
  letter-spacing: 0.2em;
}
.container > span {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
* {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  position: relative;
  top: 25%;
  background: linear-gradient(90deg, #ff0000,#ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000 );
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Bodoni MT';
  background-size: 400%;
  font-size: 5em;
  letter-spacing: 1em;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        background-position:0%;
    }
  100% {
    background-position:400%;
  }
}

@media(max-width:991px) {
  .checkbox {

    display: inline-block;
  }

  .sai {

    position: relative;
    display: inline-block;
  }

  span.z {
    font-size: 0;
  }
  span {
    font-size: 1.5em;
  }

  div.nome {
    font-size: 1.5em;
  }
  label.label {
    position: relative;
  }
}
// normal
@media  (min-width: 74em) {
  .checkbox {
    display: inline-block;
  }
  span.z {
    font-size: 0;
  }
  .sai {

    position: relative;
    display: inline-block;
  }
  span {

    font-size: 2em;
  }
  div.nome {
    font-size: 2em;

  }
  span.z {

    font-size: 2em;
  }

}
