* {
  width:100%;
  height:auto;
  margin: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

}


.containerPopup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  backdrop-filter: blur(2px);
  overflow: hidden;

}

.popup {
  align-items: center;
  justify-content: center;
  width: 30%;
  background: rgba(255,255,255,0.4);
  border-radius: 6px;
  position: absolute;
  left: 35%;
  bottom:30%;
  text-align: center;
  padding: 30px 30px 30px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);


}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(2px);
}

.popup p {
  text-decoration: double;
  font-size: 1.5em;
  text-size-adjust: auto;
  text-decoration-color: black;
}

.popup h3 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  background: rgba(#ff5064,0.4);
}


@media(max-width:991px) {
  .popup button {
    background: #ff5064;
  }

  .popup {
    width:100%;
    top:auto;
    bottom:25%;
    left:auto;
    right:auto;
  }
  .containerPopup {
      margin-left:auto;
      margin-right:auto;
      width:100%;

  }
}
