body{
    margin:0;
}
h1{
    font-weight:700;
    margin-top:125px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:4px;
    line-height:23px;
    span{
        color:deepskyblue;
    }
}
.progress-wrapper{
    margin:auto;
    max-width:1080px;
}
.progress-bar-container {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100px;
  margin-top: 59px;

  ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
  }

  li {
    list-style: none;
    float: left;
    width: 16%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 59px;
    position: relative;

    .step-inner {
      position: absolute;
      width: 100%;
      bottom: 0;
      font-size: 14px;
    }
  }

  .line {
    width: 80%;
    margin: auto;
    background: #ccc;
    height: 5px;
    position: absolute;
    left: 8%;
    top: 78px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
  }

  .line-process {
    content: "";
    width: 3%; // aqui q muda o tamanho da linha com a cor la azul
    height: 100%;
    background: linear-gradient(to right, deepskyblue 0%, #2ea3b7 100%);
    position: absolute;
    z-index: 2;
    transition: all ease 0.9s;
  }

  li.active, li:hover {
    color: deepskyblue;
  }

  li:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    border: solid 7px; //aqui o red
    border-radius: 50%;
    margin-top: 40%;
    box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
    transition: all ease 0.2s;
  }

  li:hover:after {
    background: deepskyblue;
  }

  li.active:after {
    background: deepskyblue;
  }



  li:before {
    content: "";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;
  }

  li.active:before, li:hover:before {
    background: deepskyblue;
  }
}

