<div class="containerFale">
  <div class="formBx">
    <form>

        <h2>Contact me ;)</h2>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Nome completo: </span>
        </div>

        <div class="inputBox">
          <input type="email" name="" required="required" >
          <span>Endereço de email: </span>
        </div>

        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Digite aqui sua mensagem: </span>
        </div>

        <div class="inputBox">
          <input type="submit" value="Send" name="" >
        </div>
 
    </form>
  </div>
  <div class="imgBx">

  </div>

</div>
