<div class="tudo">

  <div>

  </div>
  <div class="sobreMim">
    <h1>Sobre mim</h1>
  </div>

  <div class="conteudo">
    <div class="card">
      <div class="card-body">
        <img class="imagem" src="./assets/euMesma.jpeg" alt="Eu mesma" />
      </div>
    </div>

    <div class="texto">
      <div class="containerCorpo" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
        <p>
          Lorem ipsum dolor sit amet,consectetur adipiscing elit.Donec vel pretium augue. Aenean vel ligula vitae nisi interdum finibus.
          Vestibulum vitae velitac nunc venenatis tristique a ac lectus. Nullam interdum sed enim nec mattis. Quisque lobortis enim ante,
          et efficitur purus blandit a.Fusce iaculis tortor tempor ligula pretium auctor.
        </p>
      </div>
    </div>
  </div>

</div>
