<div class="tudo">

  <div>

  </div>
  <div class="sobreMim">
    <h1>Sobre mim</h1>
  </div>

  <div class="conteudo">
    <div class="card">
      <div class="card-body">
        <img class="imagem" src="./assets/euMesma.jpeg" alt="Eu mesma" />
      </div>
    </div>

    <div class="texto">
      <div class="containerCorpo" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
        <p>
          Oi, eu sou a Rhayza. Estudante de graduação no curso de sistemas da informação, cursanso também a pós-graduação em ciências de dados.
          Sou formada no curso técnico de informática e graduada em ciencias contábeis.
          Este é meu primeiro portifólio, feito em angular, aqui eu quis brincar muito com CSS, portanto este portifólio não vai seguir
          padrões e conceitos, é apenas para eu brincar e aprender mesmo.
          Mas aqui você vai ter acesso aos meus projetos. Estes são mais sérios e focados no aprendizado das linguagens de programação utilizadas.
          Aqui também temos minhas redes sociais e você poderá me mandar um e-mail caso queira tratar de negócios e propostas.
          Além disso, você tem acesso aos meus certificados para conhecer melhor o que eu aprendi e no que me formei.
          Por fim, temos uma parte só para você conhecer minhas experiências profissionais, lá eu descrevo um pouquinho sobre os caminhos que percorri e conto o que aprendi neles.
          Como pode ver, gosto de estudar e aprender TI e espero que você goste dos projetos que venho desenvolvendo.
          Venha conferi-los no meu GitHub, que lá tem mais detalhes deles! o/      
        </p>
      </div>
    </div>
  </div>

</div>
